<h1>Product details</h1>
<div class="grid grid-details">
  <div class="grid-product">
    <div class="d-flex flex-column justify-center align-center">
      <div class="grid-product__bg"></div>
      <h3 class="grid-product__title">
        <a href="<%= products_show_path(id: @product) %>"><%= @product.title %></a>
      </h3>
      <div class="grid-product__description">
        <%= sanitize(@product.description) %>
      </div>
      <div class="grid-product__price">
        <%= number_to_currency(@product.price) %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', products_index_path %>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="block">
  <h4>
    <a><%= @product.title %></a>
  </h4>
  <div class="d-flex flex-row align-center">
    <p class="medium-rate">3.8</p>
    <div id="starRatingSummary">
    </div>
  </div>
  <%= render "reviews/form", review: @review, product: @product %>
  <hr>
  <h3>Reviews</h3>
  <div class="list-reviews">
    <% i=0; %>
    <% @product.reviews.each do |review| %>
      <div class="d-flex flex-column">
        <div class="d-flex flex-row align-center justify-between" style="margin-bottom: 1rem;">
          <div id="starRatingReview<%= i %>">
            <input type="hidden" id="starRatingReview<%= i %>Value" value="<%= review.rating %>"/>
          </div>
          <%= review.created_at.strftime('%-d-%-m-%Y %H:%M:%S') %>
        </div>
        <div>
          <%= review.description %>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'rating/main', 'type': 'module' %>
