<div class="block" data-controller="rating">
  <h4>
    <a><%= product.title %></a>
  </h4>
  <div class="d-flex flex-row align-center" style="padding: 1rem;">
    <p class="medium-rate"><%= average_reviews(product) %></p>
    <div id="starRatingSummary">
      <input type="hidden" id="starRatingSummaryValue" value="<%= average_reviews(product) %>"/>
    </div>
  </div>
  <%= turbo_stream_from :reviews %>

  <%= render "reviews/form", review: review, product: product %>
  <hr>
  <h3>Reviews</h3>
  <div class="list-reviews">
    <%= turbo_frame_tag :reviews do %>
      <% product.reviews.each do |review_record| %>
        <%= render "reviews/review", review: review_record %>
      <% end %>
    <% end %>
  </div>
</div>
