<%= turbo_frame_tag dom_id(review) do %>
  <div class="d-flex flex-column" data-controller="review">
    <div class="d-flex flex-row align-center justify-between" style="margin-bottom: 1rem;">
      <div id="starRatingReview<%= dom_id(review)%>">
        <input type="hidden" data-review-target="reviewId" value="<%= dom_id(review)%>">
        <input type="hidden" class="starRatingReviewValue" value="<%= review.rating %>"/>
      </div>
      <%= review.created_at.strftime('%d-%-m-%Y %H:%M:%S') %>
    </div>
    <div>
      <%= review.description %>
    </div>
  </div>
  <hr>
<% end %>