<!DOCTYPE html>
<html>
  <head>
    <title>Star Rating</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="d-flex align-center justify-start flex-row">
      <h1><a href="<% product_index_path %>">Star Rating</a></h1>
    </header>
    <section class="page-content d-md-flex flex-wrap">
      <nav>
        <ul>
          <li>
            <a href="<%= product_index_path %>">Front-end JS</a>
          </li>
          <li>
            <a>Front-end PureCSS</a>
          </li>
          <li>
            <a href="<%= admin_products_path %>">Back-end</a>
          </li>
        </ul>
      </nav>
      <main class="<%= controller_name %>">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
